<launch>

  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default="$(find bot_nav)/maps/building_map.yaml" />
  <!--<arg name="map_keepout_file" default="$(find fetch_maps)/maps/3_1_16_keepout.yaml" />-->
  <!--<arg name="use_keepout" default="false" />-->

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find pr2_nav)/launch/include/move_base.launch.xml" />
  <arg name="amcl_include" default="$(find pr2_nav)/launch/include/amcl.launch.xml" />

  <!-- serve up a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node pkg="tf" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 odom_combined map 100" />
  <!--<node pkg="tf" type="static_transform_publisher" name="base_odom" args="0 0 0 0 0 0 base_footprint odom_combined 100" />-->

  <!-- localize the robot -->
  <include file="$(arg amcl_include)" />
  <!-- move the robot -->
  <include file="$(arg move_base_include)" >
    <arg name="name" value="pr2" />
    <!--<arg if="$(arg use_keepout)" name="map_topic" value="map_keepout" />-->
  </include>

  <!-- tilt the head -->
  <!--<node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" />-->

</launch>
