<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!--<env name="GAZEBO_MODEL_PATH" value="$(find bot_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>-->

    <arg name="left_electric_gripper" default="true"/>
  <arg name="right_electric_gripper" default="true"/>

  <!-- rbt_baxter_sim_kinematics launch file to do the Forward/Inverse Kinematics -->
  <include file="$(find rbt_baxter_kinematics)/launch/baxter_kinematics.launch" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rbt_baxter_hardware)/config/rbt_baxter_sim_controllers.yaml" command="load"/>
  <rosparam if="$(arg left_electric_gripper)" file="$(find rbt_baxter_hardware)/config/rbt_baxter_left_electric_gripper_controller.yaml" command="load"/>
  <rosparam if="$(arg right_electric_gripper)" file="$(find rbt_baxter_hardware)/config/rbt_baxter_right_electric_gripper_controller.yaml" command="load"/>

  <!-- load the rbt_baxter_sim_hardware node -->
  <node name="rbt_baxter_emulator" pkg="rbt_baxter_hardware" type="rbt_baxter_emulator" respawn="false"
	output="screen">
    <param if="$(arg left_electric_gripper)" name="left_gripper_type" value="ELECTRIC_GRIPPER" />
    <param if="$(arg right_electric_gripper)" name="right_gripper_type" value="ELECTRIC_GRIPPER" />
  </node>
  <!-- load the default controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/robot" args="--shutdown-timeout -1 joint_state_controller" />

  <!-- load the stopped controllers -->
  <node name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false"
       output="screen" ns="/robot" args="--shutdown-timeout -1 --stopped
					   left_joint_position_controller
					   right_joint_position_controller
					   head_position_controller
					   left_joint_velocity_controller
					   right_joint_velocity_controller
					   left_joint_effort_controller
					   right_joint_effort_controller"/>

    <node if="$(arg left_electric_gripper)" name="left_gripper_controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/robot" args="--shutdown-timeout -1 --stopped left_gripper_controller"/>

    <node if="$(arg right_electric_gripper)" name="right_gripper_controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/robot" args="--shutdown-timeout -1 --stopped right_gripper_controller"/>

  <!-- convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

</launch>
